nav a h1 {
  color: #fbdd01;
  text-decoration: underline;
}

h1 {
  font-weight: bold;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  color: #fbdd01;
}

h1 span {
  font-weight: 100;
  color: white;
}

.userText p {
  margin-right: 10px;
  color: white;
  font-size: 20px;
}

.nav-item p {
  font-size: 20px;
}

.user_icon {
  color: white;
  width: 40px;
}

.bg-side-bar {
  background-color: #fbdd01;
  border-radius: 30px;
}

.bg-content {
  background-color: #fbdd01;
  border-radius: 30px;
}

.table {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.table th,
td {
  vertical-align: middle;
}

.status-dot {
  height: 10px;
  width: 10px;
  background-color: orange;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.view-btn {
  background-color: #d2ff4d;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
}
.view-btn:hover {
  background-color: #c2ef3d;
}

.action-btn {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
}

.action-btn:hover {
  background-color: #f0f0f0;
}

.nav-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 10px;
}

.nav-item a {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
}
.nav-item a:hover {
  color: rgb(51, 50, 50);
}

.spacer {
  height: 1px;
  width: 100%;
  background-color: black;
  margin-bottom: 2px;
}

.logout-btn a {
  color: red;
}

.logout-btn a:hover {
  color: darkred;
}

.mr-2 {
  width: 50px;
  margin-right: 10px;
}
@media (max-width: 767px) {
  h1 {
    font-size: 24px;
  }

  .userText p {
    font-size: 12px;
  }

  .user_icon {
    width: 20px;
  }

  .form-btns button {
    font-size: 16px;
    padding: 8px 20px;
  }

  .bg-content input,
  select,
  textarea {
    width: 100%;
    margin-bottom: 7px;
  }

  .bg-content {
    padding: 10px;
  }

  .view-btn,
  .action-btn {
    padding: 3px 5px;
    font-size: 12px;
  }

  .table {
    font-size: 12px;
  }
}
