/*Navbar*/
nav a .logo {
  text-decoration: underline;
}

.active-link p {
  color: white;
}

.logo {
  font-weight: bold;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  color: #fbdd01;
  text-decoration: none;
}

.logo span {
  font-weight: 100;
  color: white;
}

.userText p {
  margin-right: 10px;
  color: white;
  font-size: 20px;
}

.nav-item p {
  font-size: 20px;
}

.user_icon {
  color: black;
  width: 30px;
}

.dropdown-button .btn-primary {
  background-color: #fbdd01;
  border-color: #6f6306;
}

.dropdown-button .btn-primary:hover,
.dropdown-button .btn-primary:focus,
.dropdown-button .btn-primary:active {
  background-color: #cfb90f;
  border-color: #6f6306;
}

/*Menu*/
.bg-side-bar {
  background-color: #fbdd01;
  border-radius: 30px;
}

.bg-content {
  background-color: #fbdd01;
  border-radius: 30px;
}

.nav-item a {
  color: black;
  text-decoration: none;
  width: 100%;
}
.nav-item a:hover {
  color: rgb(51, 50, 50);
}

.spacer {
  height: 1px;
  width: 100%;
  background-color: black;
  margin-bottom: 3px;
}

/*Admin List*/
.menuIcons {
  width: 40px;
  margin-right: 8px;
}

.active-link .menuIcons {
  color: white;
}

.admin-icons {
  cursor: pointer;
  width: 30px;
}

@media (max-width: 767px) {
  h1 {
    font-size: 24px;
  }

  .userText p {
    font-size: 12px;
  }

  .user_icon {
    width: 20px;
  }

  .bg-content {
    padding: 10px;
  }
}
