/*Navbar*/
nav a h1 {
  color: #fbdd01;
  text-decoration: underline;
}

h1 {
  font-weight: bold;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  color: #fbdd01;
}

h1 span {
  font-weight: 100;
  color: white;
}

.userText p {
  margin-right: 10px;
  color: white;
  font-size: 20px;
}

.nav-item p {
  font-size: 20px;
}

.user_icon {
  color: white;
  width: 40px;
}

/*Menu*/
.bg-side-bar {
  background-color: #fbdd01;
  border-radius: 30px;
}

.bg-content {
  background-color: #fbdd01;
  border-radius: 30px;
}

.nav-item a {
  color: black;
  text-decoration: none;
  width: 100%;
}
.nav-item a:hover {
  color: rgb(51, 50, 50);
}

.spacer {
  height: 1px;
  width: 100%;
  background-color: black;
  margin-bottom: 2px;
}

.logout-btn a {
  color: red;
}

.logout-btn a:hover {
  color: darkred;
}

.menuIcons {
  width: 40px;
  margin-right: 8px;
}

@media (max-width: 767px) {
  h1 {
    font-size: 24px;
  }

  .userText p {
    font-size: 12px;
  }

  .user_icon {
    width: 20px;
  }

  .bg-content {
    padding: 10px;
  }
}
