.logo-dashboard {
  font-weight: bold;
  font-family: "Inter", sans-serif;
  font-size: 100px;
  color: #fbdd01;
}

.logo-dashboard span {
  font-weight: 100;
  color: white;
}

.userText-dashboard p {
  margin-right: 10px;
  color: white;
  font-size: 20px;
}

.user-icon-dashboard {
  color: black;
  font-size: 30px;
}

.dropdown-button .btn-primary {
  background-color: #fbdd01;
  border-color: #6f6306;
}

.dropdown-button .btn-primary:hover,
.dropdown-button .btn-primary:focus,
.dropdown-button .btn-primary:active {
  background-color: #cfb90f;
  border-color: #6f6306;
}

.search-group {
  max-width: 100%;
}

.search-emoji {
  background-color: #fbdd01;
  border: none;
  border-radius: 25px 0 0 25px;
}

.search-input,
.search-input:active,
.search-input:focus {
  height: 50px;
  background-color: #fbdd01;
  border: none;
  border-radius: 0 25px 25px 0;
}

.search-button {
  background-color: #000000;
  border-radius: 25px;
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  color: #ffffff;
  border: 1px solid #fbdd01;
}

.top-text{
   background-color: #908005;
   border-radius: 10px;
   color: #FBDD01;
}

.actions-menu {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  z-index: 1000; /* Un valore alto per sovrapporre il BentoMenu */
  position: relative; /* Assicurati che il menu-actions sia posizionato correttamente */
}

a {
   text-decoration: none;
   color: black;
}

.actions-menu .list-group-item{
  background-color: white;
  color: black;
  border-color: #6f6306;
  text-align: left;
}

.close-button {
  background: none;
  border: none;
  color: black;
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .logo-dashboard {
    font-size: 50px;
  }

  .userText-dashboard p {
    font-size: 20px;
  }

  .user-icon-dashboard {
    font-size: 20px;
  }
}
